policy_module(rpg, 1.100.1)

########################################
#
# Declarations
#

type rpg_t;
type rpg_exec_t;
init_daemon_domain(rpg_t, rpg_exec_t)

permissive rpg_t;

type rpg_initrc_exec_t;
init_script_file(rpg_initrc_exec_t)

type rpg_conf_t;
files_type(rpg_conf_t)

type rpg_var_lib_t;
files_type(rpg_var_lib_t)

type rpg_var_run_t;
files_type(rpg_var_run_t)

type rpg_port_t;
corenet_port(rpg_port_t)

########################################
#
# rpg local policy
#
allow rpg_t self:process { fork };

allow rpg_t self:fifo_file rw_fifo_file_perms;
allow rpg_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(rpg_t, rpg_conf_t, rpg_conf_t)
manage_files_pattern(rpg_t, rpg_conf_t, rpg_conf_t)

manage_dirs_pattern(rpg_t, rpg_var_lib_t, rpg_var_lib_t)
manage_files_pattern(rpg_t, rpg_var_lib_t, rpg_var_lib_t)
files_var_lib_filetrans(rpg_t, rpg_var_lib_t, { dir file })

manage_dirs_pattern(rpg_t, rpg_var_run_t, rpg_var_run_t)
manage_files_pattern(rpg_t, rpg_var_run_t, rpg_var_run_t)

sysnet_dns_name_resolve(rpg_t)
corenet_all_recvfrom_unlabeled(rpg_t)

allow rpg_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(rpg_t)
corenet_tcp_sendrecv_generic_node(rpg_t)
corenet_tcp_sendrecv_all_ports(rpg_t)
corenet_tcp_bind_generic_node(rpg_t)

gen_require(`
    type rpg_port_t;
')
allow rpg_t rpg_port_t:tcp_socket name_bind;

gen_require(`
    type rpg_port_t;
')
allow rpg_t rpg_port_t:tcp_socket name_connect;

domain_use_interactive_fds(rpg_t)

files_read_etc_files(rpg_t)

miscfiles_read_localization(rpg_t)

sysnet_dns_name_resolve(rpg_t)

allow rpg_t rpg_exec_t:file execute_no_trans;
allow rpg_t self:process setsched;
corecmd_exec_ls(rpg_t)
corenet_tcp_connect_http_port(rpg_t)
dev_read_urand(rpg_t)
fs_getattr_xattr_fs(rpg_t)
kernel_read_system_state(rpg_t)
